* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
 
}
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.digital-project {
  width: 69px;
height: 12px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  gap: 50px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: inherit; 
}

.nav-items {
 
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 20%;
text-transform: uppercase;
color: #333333;
cursor: pointer;
}
.nav-items:focus{
    border-top: #333333 solid 1px;
    border-bottom: #333333 solid 1px;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .nav-links.show {
    display: flex;
  }
}